arabic-reshaper==3.0.0
asgiref==3.6.0
asn1crypto==1.5.1
Brotli==1.1.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography==40.0.1
cssselect2==0.7.0
decouple==0.0.7
distlib==0.3.8
Django==4.1.5
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-cron==0.6.0
django-crontab==0.7.1
django-environ==0.9.0
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-standardized-errors==0.12.4
drf-yasg==1.21.7
easygui==0.98.3
et-xmlfile==1.1.0
filelock==3.13.1
fonttools==4.43.1
html5lib==1.1
idna==3.4
indian-cities==1.0.1
inflection==0.5.1
lml==0.1.0
lxml==5.1.0
numpy==1.26.3
openpyxl==3.0.10
oscrypto==1.3.0
packaging==23.2
pandas==2.0.0
pillow==10.2.0
platformdirs==4.1.0
psycopg2==2.9.9
pycparser==2.21
pycryptodome==3.18.0
pydyf==0.8.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pyHanko==0.17.2
pyhanko-certvalidator==0.20.1
PyJWT==2.6.0
pyotp==2.8.0
pypdf==3.7.1
PyPDF2==3.0.1
pyphen==0.14.0
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
qrcode==7.4.2
razorpay==1.3.0
reportlab==4.0.9
requests==2.28.2
segno==1.5.2
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.3
svglib==1.5.1
texttable==1.6.7
tinycss2==1.2.1
tk==0.1.0
twilio==7.16.5
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
uritemplate==4.1.1
uritools==4.0.1
urllib3==1.26.15
virtualenv==20.25.0
webencodings==0.5.1
xhtml2pdf==0.2.9
xlrd==2.0.1
xlwt==1.3.0
zopfli==0.2.3
